.card--container{
    width: 50%;
    margin:10px 25%;
    padding: 10px 30px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.card--container:hover{
    background-color: #FFD157;
}
.card--title{
    margin-top: 5px;
    
}