*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    background-image: url("../public/assets/tecidos.jpg");
    background-color: #CDCDCD;
  }
  p {    
      color: white;
  }
  
  .limitar-secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }